<div class="container mt-3">
<div class="row">
<div class="mx-auto mt-50 col-11 col-sm-10 col-lg-8 col-xl-6">
<h1 class="text-center">welcome to <span><i class="fas fa-book"></i></span>bookers!</h1>
</div>
</div>
</div>