<h1>welcome to bookers!</h1>
<p>In Bookers,</br>

you can share and exchange your opinions , inpressions , and emotions</br>

about various books!</p>

 <%= link_to("/users/sign_in") do %>
  <p>Log in</p>
 <% end %>

 <%= link_to ("/users/sign_up") do %>
  <p>Sign in</p>
 <% end %>
